@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
* {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --primaryColor: #24a8df;
  --secondaryColor: whitesmoke;
}

::-webkit-scrollbar {
  display: none;
}

.learn-more-btn {
  background-color: var(--primaryColor) !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: var(--secondaryColor) !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid var(--primaryColor) !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
}

.learn-more-btn-logout {
  background-color: #d11a2a !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  color: var(--secondaryColor) !important;
  padding: 12px 29px !important;
  border-radius: 10px !important;
  border: 2px solid #d11a2a !important;
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%) !important;
  display: inline-block !important;
  text-decoration: none !important;
  transition: 0.7s !important;
}

.btn-extra-header {
  color: var(--primaryColor) !important;
  background-color: transparent !important;
  border: 2px solid var(--primaryColor) !important;
}

.marginStyle {
  margin-top: 120px;
  margin-bottom: 150px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.animateImg img {
  width: 100%;
  animation: float 5s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(20px);
  }
  100% {
    transform: translatey(0px);
  }
}
